In [ ]:
import pandas as pd
import sys
print('Python version: ' +sys.version)
print ('Pandas Version: ' + pd.__version__)
data = ['sun',
        'mon',
        'tue',
        'wed',
        'thu',
        'fri',
        'sat']
week = pd.Series(data)
week

Python version: 3.10.12 (main, Jun 11 2023, 05:26:28) [GCC 11.4.0]
Pandas Version: 1.5.3

0    sun
1    mon
2    tue
3    wed
4    thu
5    fri
6    sat
dtype: object

In [ ]:
import numpy as np
square_number = np.array([0, 1, 4, 9, 16,
                          25, 36, 49, 64, 81,
                          100, 121, 144, 169])
square_series = pd.Series(square_number)
square_series

0       0
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
11    121
12    144
13    169
dtype: int64

In [ ]:
import pandas as pd
employee_fields = ['F_Name', 'L_Name', 'Emp_ID', 'Dept']
employee_data = ['Susie','Schneider','2258788','Accounting']
employee_series = pd.Series(index = employee_fields,
                            data = employee_data)
employee_series

F_Name         Susie
L_Name     Schneider
Emp_ID       2258788
Dept      Accounting
dtype: object